.egesz{
    background-color: #BCE9F3;
}

.magas{
    margin-bottom: 436px;
}

.no-foglalas {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  .list {
    margin-top: 30px;
  }

.footer{
    border-top: 1px solid #C0B0B1;
    background-color: #7ED9EC;
}

.copy{
    background-color: #7ED9EC;
}
  