<div class="container-fluid">

    <div class="text-center">
        <h2 class="p-3">Üdvözlünk a Szabadulószoba Kalandok Világában!</h2>
        <p class="fs-5 pb-2">
            Készülj fel egy olyan kalandra, ahol az izgalmak és a rejtélyek egyesülnek.
            <br> Azért vagyunk, hogy elszakítsunk a mindennapok monotonitásától, és együtt alkossunk emlékezetes pillanatokat!
        </p>
    </div>

    <div>
        <img class="rounded mx-auto d-block" src="../../assets/escape.jpg" alt="Szabadulószoba">
    </div>

    <div class="text-center">
        <h4 class="pt-5 pb-4">Mi vár Rád?</h4>
        <p class="fs-5 pb-2">
            Ismerd meg különleges szobáinkat, mindegyik egyedi történettel és fejtörővel rendelkezik.
            <br> A csapatunk olyan remekműveket hozott létre, melyek minden zugban izgalmat és kihívást rejtenek, emlékezni fogsz rájuk hosszú ideig.
        </p>
        <hr>
    </div>

    <div class="text-center">
        <h4 class="p-4">Hogyan lehetsz részese ennek a kalandnak?</h4>
        <p class="fs-5 pb-2">
            Foglalj időpontot online, válassz témáink közül és hívj össze egy remek társaságot!
            <br> Nyitvatartásunk rugalmas, hogy teljes mértékben igazodjunk az igényeidhez.
        </p>
        <hr>
    </div>

    <div class="text-center">
        <h4 class="p-4">Miért minket válassz?</h4>
        <ul class="fs-5 pb-2">
            <li>
                Profi tervezésű, változatos szobák
            </li>
            <li>
                Barátságos és segítőkész csapat
            </li>
            <li>
                Versenyképes árak és csomagajánlatok
            </li>
        </ul>
        <hr>
    </div>

    <div class="text-center">
        <h4 class="p-4">Csatlakozz most és éld át a kalandot!</h4>
        <p class="fs-5 pb-2">
            Ne hagyd ki ezt az izgalmas lehetőséget.
            <br> Várunk szeretettel, hogy együtt szabaduljunk!
        </p>
    </div>

    <div class="footer text-center p-2">
        <p class="copy pt-3 text-light">
            Szabadulószoba &copy; 2024  
        </p>
    </div>

</div>
